<%- include("../partials/header") %>


<div class = "container">

	<header class="jumbotron text-center">
		<div>
            
			<h1 ><i class="fas fa-archive"></i>     Welcome to YardLog</h1>
			<!-- <p>View yards</p> -->
			<p>
				<a class = "btn btn-primary btn-large" href="/yards/new">Add New Yard</a>
			</p>
		</div>
	</header>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Area</th>
            <th scope="col">More Info</th>
          </tr>
        </thead>
        <tbody>
            <%  
              if(yards){
                var row = 1;
                yards.forEach(function(yard){ 	%>
            <tr>
                <th scope="row"><%= row++; %></th>
                <td><%= yard.name %></td>
                <td><%= yard.area %></td>
                <td><a href="/yards/<%= yard._id %>" class="btn btn-primary">More Info</a></td>
            </tr>
             <% })};	%>
        </tbody>
      </table>
</div>


<%- include("../partials/footer") %>