<%- include("../partials/header") %>


<div class = "container">

	<header class="jumbotron text-center">
		<div>
            
			<h1 ><i class="fas fa-archive"></i>     Welcome to YardLog</h1>
			<!-- <p>View yards</p> -->
			<p>
				<a class = "btn btn-primary btn-large" href="/yards/new">Add New Yard</a>
			</p>
		</div>
  </header>
  <div class="table-responsive"></div>
    <table class="table" id="yardTable">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="select-all-export-col">
            <div class="btn-group"  role="group">
              <button type="button" class="btn btn-secondary" onclick="exportYards()">Export</button>
              <select id="selectAllYards" class="form-control btn btn-secondary" onchange="selectYards()">
                <option value="None">None</option>
                <option value="All">All</option>
              </select>
            </div>
          </th>
          <th scope="col">Name</th>
          <th scope="col">Area</th>
          <th scope="col">More Info</th>
        </tr>
      </thead>
      <tbody>
          <%  
            if(yards){
              var row = 1;
              yards.forEach(function(yard){ 	%>
          <tr>
              <th scope="row"><%= row++; %></th>
              <!-- <td><label class="radio-inline"><input type="checkbox" value="0">Select</label></td> -->
              <td  class="text-center ">Select   <input  type="checkbox"></td> 
              <td><%= yard.name %></td>
              <td><%= yard.area %></td>
              <td><a href="/yards/<%= yard._id %>" class="btn btn-primary">More Info</a></td>
          </tr>
           <% })};	%>
      </tbody>
    </table>
  </div>
    
</div>

<script>


function selectYards() {

  var sel =  $("#selectAllYards").val();

  $("#yardTable input[type=checkbox]").each(function () {
      
    if(sel === "All") {
      $(this).prop('checked',true);
    }
    else{
      $(this).prop('checked',false);
    }
  });



}
  // $('#selectAllYards').change(function () {


  //   var sel = $(this).val();
   
  //   $("#yardTable input[type=checkbox]").each(function () {
      
         
  //   });
  // });

  function exportYards() {

    // var doc = new jsPDF({
    //      orientation: 'p', 
    //      unit: 'in', 
    //      format: [612, 792]
    //  });

    var doc = new jsPDF();

    var i = 0;
    $("#yardTable input[type=checkbox]:checked").each(function () {
      var row = $(this).closest("tr")[0];
      var yardName =  row.cells[2].innerHTML;
      doc.text(10,  (i+1)*10, yardName);
      i++;
    });
   
    doc.save('yards.pdf');
  }

</script>
<%- include("../partials/footer") %>